.form-wrapper {
    position: fixed;
    top: 50%;
    left: 38%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    padding: 8px 24px 24px;
    border-radius: 4px;
    background: var(--white-background, #fff);
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
}

.icons-wrapper {
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}

.input-wrapper-item {
    display: flex;
    flex-direction: column;
}

.form-title {
    text-align: center;
    color: #000;
    text-align: center;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 44.8px */
    margin: 15px auto 12px;
}

.form-label {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 6px;
}

.form-input {
    margin-bottom: 12px;
    display: inline-flex;
    padding: 6px 72px 6px 6px;
    align-items: center;
    border-radius: 2px;
    border: 1px solid #434657;
    background: #fff;
}

.password-input-wrapper {
    position: relative;
    padding-right: 0;
}

.password-input {
    width: 100%;
}

.password-input-wrapper input {
    /* Space for the eye icon */
}

.password-input-wrapper .password-toggle {
    position: absolute;
    top: 44%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.option-SignUp p {
    color: #000;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 21px */
    text-align: center;
    margin-top: 12px;
}

.option-SignUp p a {
    color: var(--primary-color, #1d6fdf);
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.btns-group-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 12px auto;
}

.btns-group-control p {
    text-align: center;
}

.option-signIn {
    display: flex;
    flex-direction: column;
}

.btn {
    margin-bottom: 8px;
    display: flex;
    width: 284px;
    height: 40px;
    padding: 10px 16px;
    justify-content: start;
    align-items: start;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid var(--gray-300, #d0d5dd);
    background: var(--gray-50, #f9fafb);

    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--gray-700, #344054);

    /* PC/L/Label 1 */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
}

.btn-SignIn {
    display: flex;
    width: 284px;
    height: 40px;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 2px;
    background: var(--primary-600, #1570ef);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--base-white, #fff);
    margin-bottom: 12px;

    /* PC/L/Label 1 */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
}

.btn-SignIn:hover {
    box-shadow: 0px 4px 8px 0px rgba(#1570ef, 0.25);
}

.options-title {
    color: var(--sub-text-color, #434657);

    /* PC/L/Label 1 */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    margin-bottom: 12px;
}

.btn-SignIn-google {
}

.btn-SignIn-facebook {
}

.redirect-options {
    color: #000;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 21px */
    display: flex;
    justify-content: center;
}

.redirect-options p a {
    color: var(--primary-color, #1d6fdf);
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.redirect-options p a:hover {
    color: #f60;
}

.modal-wrapper {
}
