.title {
    height: 10vh;
    width: 100%;
    font-size: 20pt;
    font-weight: bold;
    padding: 24px;
}
.wrapper {
    background-color: #f6f9fc;
    height: 90vh;
    overflow: auto;
}
.content {
    padding: 12px;
}
