.pCard {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: black;
}

.pImg-wrapper {
    overflow: hidden;
}

.pImg {
    position: relative;
    width: 155px;
    height: 166px;
    top: -24px;
}

.card-content {
    position: relative;
    top: -24px;
}

.pCate {
    color: #434657;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 14.3px */
    letter-spacing: 0.3px;
}

.pCate:hover {
    color: #1570ef;
    cursor: pointer;
}

.pName:hover {
    color: #1570ef;
    cursor: pointer;
}

.pName {
    position: relative;
    top: -4px;
    color: #434657;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 14.3px */
    letter-spacing: 0.3px;
    margin-bottom: 0;
}

.pPrice {
    position: relative;
    top: -2px;
    display: flex;
    justify-content: space-between;
}

.oldPrice {
    color: #000;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 10.4px */
    letter-spacing: 0.3px;
    text-decoration: line-through;
}

.newPrice {
    position: relative;
    top: -5px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 18.2px */
    letter-spacing: 0.3px;
}

.rating-display {
    position: relative;
    display: flex;
    justify-content: space-between;
    top: -6px;
}

.rating-stars {
    display: flex;
    align-items: center;
}

.stars {
    display: flex;
    justify-content: space-between;
}

.star-styles {
    margin-right: 4px;
}

.ratingNumber {
    color: var(--gray-500, #667085);

    /* PC/Bd/Body 3 */
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 20.4px */
}

.origin {
    color: var(--sub-text-color, #434657);

    /* PC/Bd/Body 3 */
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 20.4px */
}

.btn-add-to-cart {
    position: relative;
    top: 6px;
    right: -14%;
    width: 115px;
    gap: 8px;
    padding: 10px 18px;
    border-radius: 8px;
    border: 1px solid var(--primary-600, #1570ef);
    background: var(--primary-600, #1570ef);
    height: 21px;
    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
