.wrapper {
    position: relative;
    background-color: var(--grey-background);
    padding-bottom: 20px;
    min-height: calc(100vh - 72px);
    h2 {
        font-size: 1.8rem;
        font-weight: 700;
        padding: 12px 0;
        color: #1e4780;
    }
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.product__item {
    flex-basis: calc(20% - 10px); /* Chiều rộng của mỗi cột (20% - 10px là để tạo khoảng cách giữa các cột) */
    padding: 12px;
    background-color: var(--white-background);
    border: 1px solid var(--white-background);
    &:hover {
        border: 1px solid var(--primary);
        cursor: pointer;
    }
}
.product__item-name {
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.product__item-price {
    display: flex;
    margin: 10px 0;

    p {
        font-size: 1.6rem;
        color: #f04438;
        font-weight: 700;
    }
    .price-sale {
        font-size: 1.4rem;
        font-weight: 600;
        margin-left: 8px;
        color: var(--primary-text-color);
        text-decoration-line: line-through;
    }
}
.btn-add {
    width: 100%;
}
