.col-products {
    // margin-left: 12px;
}

.row-products {
    position: relative;
    margin-bottom: 28px;
}

.view-all-products {
    padding: 3px;
    width: 100%;
    margin-top: 12px;
    margin-left: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.card-wrapper {
    // padding: 3px !important;
}

.row-products-label {
    position: relative;
    left: 12px;
    color: #1c1f23;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.3px;
    margin: 0 0 8px 0 !important;
}

// cart null
.cart__null {
    text-align: center;
    height: calc(100vh - 127px);
    align-items: center;
    padding-top: 92px;
    .cart__null-icon {
        font-size: 6rem;
        color: #1e4780;
    }
    .cart__null-text {
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 50px;
        text-align: center;
    }
    button {
        color: #fff;
        &:hover {
            border: 1px solid #fe2c55;
        }
    }
}

.row-pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
