.footer {
    position: relative;
    padding-top: 90px;
    padding-bottom: 45px;
}
.footer__contact {
    .footer__contact-address {
        font-size: 2rem;
        line-height: 36px;
        margin-bottom: 40px;
    }

    .footer__contact-phone,
    .footer__contact-mail {
        font-size: 1.4rem;
        line-height: 22px;
        a {
            color: var(--primary);
            margin-left: 6px;
        }
    }

    .footer__contact-certification {
        font-size: 1.6rem;
        font-weight: 700;
        margin-top: 20px;
        img {
            width: 120px;
        }
    }
}
.footer-policy,
.footer-pay {
    h3 {
        font-size: 1.4rem;
        font-weight: 700;
        color: var(--primary);
        margin-bottom: 12px;
    }
    li {
        list-style-type: none;
        &:hover {
            color: var(--primary);
            cursor: pointer;
        }
    }
    a {
        font-size: 1.4rem;
    }
}

.footer-social {
    h3 {
        font-size: 1.4rem;
        font-weight: 700;
        color: var(--primary);
        margin-bottom: 12px;
    }
    .icon-social {
        cursor: pointer;
        margin-right: 12px;
    }
}

.up-arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary);
    position: absolute;
    top: 65px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
        background-color: #1e4780;
    }
    .icon {
        font-size: 2.4rem;
        color: var(--white-text-color);
    }
}

.footer-license {
    font-size: 1.2rem;
    color: var(--sub-text-color);
    padding-top: 50px;
    margin-left: 60px;
}
