.row-heading {
    color: #000;
    text-align: center;
    font-family: Nunito;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 44.8px */
}

.productInfo {
    display: flex;
    justify-content: start;
}
