.wrapper {
    padding: 24px 8px;
    border-bottom: 1px solid #eaecf0;
    .id {
        white-space: nowrap; /* Ngăn chặn ngắt dòng */
        overflow: hidden; /* Ẩn nội dung vượt quá kích thước */
        text-overflow: ellipsis; /* Thêm dấu "..." khi nội dung bị cắt */
    }
}

.wrapper:last-child {
    border-bottom: none;
}

.item-delete {
    color: red;
}

.item-delete:hover {
    opacity: 0.5;
    cursor: pointer;
}
