.col-products {
}

.tag-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 16px;
    gap: 4px;
    p {
        display: flex;
        height: 26px;
        padding: 2px 8px 2px 6px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        color: var(--base-white, #fff);
        text-align: center;
        font-family: Nunito;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 19.6px */
        background: var(--tag-color, #f60);
    }
}

.row-slider {
    position: relative;
    margin-bottom: 12px;
}

.row-products {
    position: relative;
    margin-bottom: 28px;
}

.view-all-products {
    padding: 3px;
    width: 100%;
    margin-top: 12px;
    margin-left: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.card-wrapper {
    padding: 3px !important;
}

.row-products-label {
    position: relative;
    left: 12px;
    color: #1c1f23;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.3px;
    margin: 0 0 8px 0 !important;
}

.row-pagination {
    margin-bottom: 100px;
}
